Repository cyberduck1/todo, pull requests merged in 2020-03, with the labels that each got.

#38 Import of the 'stolen' akka-http based services
  .gitignore
  server/src/schemas/todo/constants.ts
  todo-service/build.gradle
  todo-service/gradle/wrapper/gradle-wrapper.jar
  todo-service/gradle/wrapper/gradle-wrapper.properties
  todo-service/gradlew
  todo-service/gradlew.bat
  todo-service/src/main/java/Dummy.java
  todo-service/src/main/proto/todo.proto
  todo-service/src/main/scala/com/fevo/todo/Runner.scala
  todo-service/src/main/scala/com/fevo/todo/api/Api.scala
  todo-service/src/main/scala/com/fevo/todo/service/InMemoryTodoService.scala
  user-service/build.gradle
  user-service/gradle/wrapper/gradle-wrapper.jar
  user-service/gradle/wrapper/gradle-wrapper.properties
  user-service/gradlew
  user-service/gradlew.bat
  user-service/src/main/java/Dummy.java
  user-service/src/main/proto/user.proto
  user-service/src/main/scala/com/fevo/user/Runner.scala
  user-service/src/main/scala/com/fevo/user/api/Api.scala
  user-service/src/main/scala/com/fevo/user/service/InMemoryUserService.scala
Labels: BE - Server, enhancement

#42 adding lint rules and auto formatting
  .github/workflows/client.yml
  client/package.json
  client/src/App.tsx
  client/src/app-router.tsx
  client/src/components/content/content.component.tsx
  client/src/components/login/index.tsx
  client/src/components/side-bar/components/inviteFriends.tsx
  client/src/components/side-bar/constants.tsx
  client/src/components/side-bar/index.tsx
  client/src/components/side-bar/item/side-bar-item.component.tsx
  client/src/components/sortable-list/index.tsx
  client/src/index.tsx
  client/src/modules/home/home.component.tsx
  client/src/modules/list/add-list-modal/add-list-modal.component.tsx
  client/src/modules/list/list-item/list-item.model.tsx
  client/src/modules/list/list-item/list.component.tsx
  client/src/modules/list/list.module.tsx
  client/src/modules/list/list/list.component.tsx
  client/src/modules/list/remove-list-modal/remove-list-modal.component.tsx
  client/src/modules/list/single-list-item/single-list-item.component.tsx
  client/src/modules/services/user-auth.service.tsx
  client/src/serviceWorker.ts
  client/tslint.json
  client/yarn.lock
Labels: documentation

#44 Invite modal
  client/src/components/side-bar/assets/add-user.png
  client/src/components/side-bar/components/inviteFriends.scss
  client/src/components/side-bar/components/inviteFriends.tsx
Labels: FE - Client

#43 Feature/sign up form
  client/src/components/login/index.tsx
  client/src/components/login/login.scss
  client/src/components/login/signIn/signIn.tsx
  client/src/components/login/signUp/signUp.tsx
Labels: FE - Client
